<!DOCTYPE html>
<head>
<title>Flaskr</title>
</head>

<body>
<form action="/post" method="post">
username:<br>
<input type="text" name="username" value="Me, myself, and I"> <br>
<input type="text" name="message"> <br>
<input type="submit" value="Submit">
</form>
</body>